p{
/*Content - Width and height */
width: 50%;
height: 50px;
/*Border*/
border: 2px solid blue;

/*Padding*/
padding: 10px;
/*Margin*/
margin: 0 auto;
}
h1{
	text-align: center;
}
table{
	margin: auto;
}
td{
	height: 100px;
	width: 100px;
}
.vertical{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.horizontal{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
